body{
   color:white;

}

#container{
    width: 649px;
    height: 979px;
    top:  51px;
    left: 636px;border-radius: 50px;
    color:#777;
    background-color: #777;
    display: flex;
    flex-wrap:nowrap;
    flex-direction:column;
}